form {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    border: 0.5rem solid rgb(133, 217, 245);
    border-radius: 1rem;
    padding: 1rem;
}

h1 {
    font-size: 5rem;
    padding-left: 0.4rem ;
}

input {
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.651);
    border: none;
}

input:focus {
    border: none;
    box-shadow: none;
}

section {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 2rem;
    column-gap: 2rem;
}

button {
    background-color: white;
    font-size: 2rem;
    padding: 2rem 0;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.685);
    transition: all 0.15s linear;
}

button:hover {
    background-color: rgba(173, 216, 230, 0.568);
}

button:active {
    box-shadow: none;
}